.post {
    @include flex(column, 0, 0, 0);
    width: 100%;
    height: 300px;
    border: 2px solid $colour-primary;
    background-color: $colour-secondary;
    border-radius: $border-radius-block;
    margin: 20px 0;
    padding: 10px;

    &__menu {
        @include flex(row, space-between, center, 0);

        h4 {
            flex: 1;
            font-size: 2em;
            text-align: center;
        }
    }
}